.body__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.main__container {
    overflow: scroll;
    width: 1024px;
    height: 100%;
}